.App {
background-color: #f3f2ef;
display: flex;
flex-direction: column;
align-items: center;
}

.app_body {
display: flex;
width: inherit;
height: inherit;
}


#theme {
display: none;
}

#theme:checked ~ * {
filter: invert(1);
}

img {
object-fit: cover;
}

