.header_search {
padding: 5px;
display: flex;
align-items: center;
border-radius: 6px;
height: 30px;
color: gray;
background-color: #eef3f8;
}

.header_search > input {
width: 200px;;
outline: none;
border: none;
background: none;
}

.close_search {
position: relative;
top: 0;
right: 5px;
cursor: pointer;
font-weight: 900;
color: crimson;
}

.users{
position: absolute;
width: 20%;
background: #fafafa;
max-height: calc(100vh - 150px);
overflow: auto;
margin-top: 130px;
margin-right: 10px;
}

.loading{
position: absolute;
margin-top: 60px;
margin-left: 100px;
width: 15px;
height: 15px;
transform: translateY(-50%);
}
